#columnOne, #columnTwo, #columnThree, #columnFour, #columnFive, #columnSix, #columnSeven {
			float: left;
		}

		#turn {
			font-size: 25px
			d
		}

		p {
			font-size: 25px;

		}

		#columnOne div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnTwo div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnThree div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnFour div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnFive div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnSix div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		#columnSeven div{
			height: 65px;
			width: 65px;
			border: 5px dashed #43C6DB;
		}

		.white {
			background-color: white;
		}

		.red {
			background-color: red;
			background-color: #c06;
			height: 150px;
			-moz-border-radius:75px;
			-webkit-border-radius: 75px;
			width: 150px;
		}

		.black {
			background-color: black;
			background-color: #000000;
			height: 150px;
			-moz-border-radius:75px;
			-webkit-border-radius: 75px;
			width: 150px;
		}
